body {
    margin: 0 200px;
}

header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}